.button {
    background-color: #4CAF50;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    color:#FFFFFF;
    padding:0.6em 1.2em;
    text-align: center;
    display: auto;
    font-size: 16px;
    font-weight:300;
    margin:0 0.4em 0.1em 0;
    cursor: pointer;  
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    transition: all 0.2s;
    margin-top: 3.5%;
  }
  
  .button-success {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button-info {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button-danger {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button-inative {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }  