.pyro > .before, .pyro > .after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -232px -244.6666666667px #a6ff00, -15px -80.6666666667px #59ff00, 131px -139.6666666667px #00ffb7, 33px -38.6666666667px #eaff00, -47px -137.6666666667px #6f00ff, -138px -318.6666666667px #00ccff, 208px -87.6666666667px #002fff, -164px -37.6666666667px #9900ff, 147px -401.6666666667px #00ff1e, 136px -395.6666666667px #00fbff, 83px -84.6666666667px #ff3300, 137px -98.6666666667px #00ffa2, 48px 80.3333333333px #8cff00, -22px -340.6666666667px #ff0400, 226px -302.6666666667px #00ffdd, -167px -20.6666666667px #ff00d9, 1px -359.6666666667px #aeff00, 123px -192.6666666667px #b300ff, -139px -143.6666666667px deepskyblue, -190px -213.6666666667px #2bff00, 9px -2.6666666667px #ff7700, 108px -278.6666666667px #00ffd5, 25px -54.6666666667px #ff00bb, -203px -369.6666666667px #00ffc4, -223px -398.6666666667px #62ff00, 61px -371.6666666667px #00fff7, -157px -279.6666666667px #ff000d, -210px -360.6666666667px #ff00fb, 189px -0.6666666667px #ff00d0, -109px -237.6666666667px #26ff00, 170px -254.6666666667px #ff0011, -208px -232.6666666667px #ff1e00, -227px -325.6666666667px #ff1500, -152px -228.6666666667px #ff0015, -106px -204.6666666667px #f7ff00, 243px -381.6666666667px #8400ff, 249px -116.6666666667px #fb00ff, -19px 32.3333333333px #ff0091, 180px -387.6666666667px #bb00ff, -26px -159.6666666667px #00f7ff, 192px 80.3333333333px #ff004d, 156px -2.6666666667px #ff00c4, -60px -36.6666666667px #ff3700, 164px -220.6666666667px #ff000d, -35px -148.6666666667px #ddff00, -223px -307.6666666667px #1aff00, 9px -0.6666666667px lime, -29px -368.6666666667px #b700ff, -44px -229.6666666667px #ff00d9, -216px -17.6666666667px #ff4000, 10px -284.6666666667px #a200ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -232px -244.6666666667px #a6ff00, -15px -80.6666666667px #59ff00, 131px -139.6666666667px #00ffb7, 33px -38.6666666667px #eaff00, -47px -137.6666666667px #6f00ff, -138px -318.6666666667px #00ccff, 208px -87.6666666667px #002fff, -164px -37.6666666667px #9900ff, 147px -401.6666666667px #00ff1e, 136px -395.6666666667px #00fbff, 83px -84.6666666667px #ff3300, 137px -98.6666666667px #00ffa2, 48px 80.3333333333px #8cff00, -22px -340.6666666667px #ff0400, 226px -302.6666666667px #00ffdd, -167px -20.6666666667px #ff00d9, 1px -359.6666666667px #aeff00, 123px -192.6666666667px #b300ff, -139px -143.6666666667px deepskyblue, -190px -213.6666666667px #2bff00, 9px -2.6666666667px #ff7700, 108px -278.6666666667px #00ffd5, 25px -54.6666666667px #ff00bb, -203px -369.6666666667px #00ffc4, -223px -398.6666666667px #62ff00, 61px -371.6666666667px #00fff7, -157px -279.6666666667px #ff000d, -210px -360.6666666667px #ff00fb, 189px -0.6666666667px #ff00d0, -109px -237.6666666667px #26ff00, 170px -254.6666666667px #ff0011, -208px -232.6666666667px #ff1e00, -227px -325.6666666667px #ff1500, -152px -228.6666666667px #ff0015, -106px -204.6666666667px #f7ff00, 243px -381.6666666667px #8400ff, 249px -116.6666666667px #fb00ff, -19px 32.3333333333px #ff0091, 180px -387.6666666667px #bb00ff, -26px -159.6666666667px #00f7ff, 192px 80.3333333333px #ff004d, 156px -2.6666666667px #ff00c4, -60px -36.6666666667px #ff3700, 164px -220.6666666667px #ff000d, -35px -148.6666666667px #ddff00, -223px -307.6666666667px #1aff00, 9px -0.6666666667px lime, -29px -368.6666666667px #b700ff, -44px -229.6666666667px #ff00d9, -216px -17.6666666667px #ff4000, 10px -284.6666666667px #a200ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -232px -244.6666666667px #a6ff00, -15px -80.6666666667px #59ff00, 131px -139.6666666667px #00ffb7, 33px -38.6666666667px #eaff00, -47px -137.6666666667px #6f00ff, -138px -318.6666666667px #00ccff, 208px -87.6666666667px #002fff, -164px -37.6666666667px #9900ff, 147px -401.6666666667px #00ff1e, 136px -395.6666666667px #00fbff, 83px -84.6666666667px #ff3300, 137px -98.6666666667px #00ffa2, 48px 80.3333333333px #8cff00, -22px -340.6666666667px #ff0400, 226px -302.6666666667px #00ffdd, -167px -20.6666666667px #ff00d9, 1px -359.6666666667px #aeff00, 123px -192.6666666667px #b300ff, -139px -143.6666666667px deepskyblue, -190px -213.6666666667px #2bff00, 9px -2.6666666667px #ff7700, 108px -278.6666666667px #00ffd5, 25px -54.6666666667px #ff00bb, -203px -369.6666666667px #00ffc4, -223px -398.6666666667px #62ff00, 61px -371.6666666667px #00fff7, -157px -279.6666666667px #ff000d, -210px -360.6666666667px #ff00fb, 189px -0.6666666667px #ff00d0, -109px -237.6666666667px #26ff00, 170px -254.6666666667px #ff0011, -208px -232.6666666667px #ff1e00, -227px -325.6666666667px #ff1500, -152px -228.6666666667px #ff0015, -106px -204.6666666667px #f7ff00, 243px -381.6666666667px #8400ff, 249px -116.6666666667px #fb00ff, -19px 32.3333333333px #ff0091, 180px -387.6666666667px #bb00ff, -26px -159.6666666667px #00f7ff, 192px 80.3333333333px #ff004d, 156px -2.6666666667px #ff00c4, -60px -36.6666666667px #ff3700, 164px -220.6666666667px #ff000d, -35px -148.6666666667px #ddff00, -223px -307.6666666667px #1aff00, 9px -0.6666666667px lime, -29px -368.6666666667px #b700ff, -44px -229.6666666667px #ff00d9, -216px -17.6666666667px #ff4000, 10px -284.6666666667px #a200ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -232px -244.6666666667px #a6ff00, -15px -80.6666666667px #59ff00, 131px -139.6666666667px #00ffb7, 33px -38.6666666667px #eaff00, -47px -137.6666666667px #6f00ff, -138px -318.6666666667px #00ccff, 208px -87.6666666667px #002fff, -164px -37.6666666667px #9900ff, 147px -401.6666666667px #00ff1e, 136px -395.6666666667px #00fbff, 83px -84.6666666667px #ff3300, 137px -98.6666666667px #00ffa2, 48px 80.3333333333px #8cff00, -22px -340.6666666667px #ff0400, 226px -302.6666666667px #00ffdd, -167px -20.6666666667px #ff00d9, 1px -359.6666666667px #aeff00, 123px -192.6666666667px #b300ff, -139px -143.6666666667px deepskyblue, -190px -213.6666666667px #2bff00, 9px -2.6666666667px #ff7700, 108px -278.6666666667px #00ffd5, 25px -54.6666666667px #ff00bb, -203px -369.6666666667px #00ffc4, -223px -398.6666666667px #62ff00, 61px -371.6666666667px #00fff7, -157px -279.6666666667px #ff000d, -210px -360.6666666667px #ff00fb, 189px -0.6666666667px #ff00d0, -109px -237.6666666667px #26ff00, 170px -254.6666666667px #ff0011, -208px -232.6666666667px #ff1e00, -227px -325.6666666667px #ff1500, -152px -228.6666666667px #ff0015, -106px -204.6666666667px #f7ff00, 243px -381.6666666667px #8400ff, 249px -116.6666666667px #fb00ff, -19px 32.3333333333px #ff0091, 180px -387.6666666667px #bb00ff, -26px -159.6666666667px #00f7ff, 192px 80.3333333333px #ff004d, 156px -2.6666666667px #ff00c4, -60px -36.6666666667px #ff3700, 164px -220.6666666667px #ff000d, -35px -148.6666666667px #ddff00, -223px -307.6666666667px #1aff00, 9px -0.6666666667px lime, -29px -368.6666666667px #b700ff, -44px -229.6666666667px #ff00d9, -216px -17.6666666667px #ff4000, 10px -284.6666666667px #a200ff;
  }
}
@keyframes bang {
  to {
    box-shadow: -232px -244.6666666667px #a6ff00, -15px -80.6666666667px #59ff00, 131px -139.6666666667px #00ffb7, 33px -38.6666666667px #eaff00, -47px -137.6666666667px #6f00ff, -138px -318.6666666667px #00ccff, 208px -87.6666666667px #002fff, -164px -37.6666666667px #9900ff, 147px -401.6666666667px #00ff1e, 136px -395.6666666667px #00fbff, 83px -84.6666666667px #ff3300, 137px -98.6666666667px #00ffa2, 48px 80.3333333333px #8cff00, -22px -340.6666666667px #ff0400, 226px -302.6666666667px #00ffdd, -167px -20.6666666667px #ff00d9, 1px -359.6666666667px #aeff00, 123px -192.6666666667px #b300ff, -139px -143.6666666667px deepskyblue, -190px -213.6666666667px #2bff00, 9px -2.6666666667px #ff7700, 108px -278.6666666667px #00ffd5, 25px -54.6666666667px #ff00bb, -203px -369.6666666667px #00ffc4, -223px -398.6666666667px #62ff00, 61px -371.6666666667px #00fff7, -157px -279.6666666667px #ff000d, -210px -360.6666666667px #ff00fb, 189px -0.6666666667px #ff00d0, -109px -237.6666666667px #26ff00, 170px -254.6666666667px #ff0011, -208px -232.6666666667px #ff1e00, -227px -325.6666666667px #ff1500, -152px -228.6666666667px #ff0015, -106px -204.6666666667px #f7ff00, 243px -381.6666666667px #8400ff, 249px -116.6666666667px #fb00ff, -19px 32.3333333333px #ff0091, 180px -387.6666666667px #bb00ff, -26px -159.6666666667px #00f7ff, 192px 80.3333333333px #ff004d, 156px -2.6666666667px #ff00c4, -60px -36.6666666667px #ff3700, 164px -220.6666666667px #ff000d, -35px -148.6666666667px #ddff00, -223px -307.6666666667px #1aff00, 9px -0.6666666667px lime, -29px -368.6666666667px #b700ff, -44px -229.6666666667px #ff00d9, -216px -17.6666666667px #ff4000, 10px -284.6666666667px #a200ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}